/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #AAE74A url(images/img04.gif) repeat-x;
}

body, th, td, input, textarea {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
}

p, ol, ul {
	line-height: 170%;
}


a:hover {
	text-decoration: none;
}

#wrapper {
  width: 960px;
  margin: 0px auto;
}
/* Header */

#header {
	width: 960px;
	height: 120px;

}

#logo {
	float: left;
	height: 120px;
	margin-left: 10px;
	background: url(images/img01.jpg) no-repeat left center;
}

#logo h1, #logo p {
	text-transform: lowercase;
}

#logo h1 {
	margin: 0;
	padding: 25px 0 0 85px;
	letter-spacing: -2px;
	font-size: 3em;
	font-weight: normal;
	color: #000000;
}

#logo h1 a {
	color: #000000;
	text-decoration: none;
}

#logo p {
	margin: -10px 0 0 2px;
	padding: 0 0 0 85px;
	text-transform: lowercase;
}

#search {
	float: right;
	width: 280px;
}

#search form {
	margin: 0;
	padding: 63px 0 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search #s, #search #x {
	float: left;
}

#search .form-text {
	width: 188px;
	margin: 2px 6px 0 0;
	padding: 2px 5px;
	background: url(images/img02.gif) repeat-x;
	border: 1px solid #ACACAC;
}

#search .form-submit {
	width: 67px;
	height: 28px;
	padding: 0;
	background: #006BFF url(images/img03.gif) no-repeat;
	border: none;
	text-transform: lowercase;
	color: #FFFFFF;
}

/* Menu */
#secondary_links {
  float: right;
}
#menu {
	width: 962px;
	height: 50px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: block;
	float: left;
	background: url(images/img05.gif) no-repeat top left;
	padding-right: 0px;
	margin-right: 5px;
}

#menu a {
	display: block;
	float: left;
	height: 38px;
	padding: 8px 20px 0 20px;
	text-decoration: none;
	text-transform: lowercase;
	color: #000000;
	background: url(images/img06.gif) no-repeat right top;
}

#menu a:hover {
	text-decoration: underline;
}

#menu li.active a {
	font-weight: bold;
}

/* Page */

#page {
	width: 962px;
	margin: 0 auto;
	background: #FFFFFF url(images/img07.gif) repeat-y;
}

/* Content */

#content {
	float: right;
	width: 700px;
	padding: 11px 11px 0 5px;
	background: url(images/img09.gif) no-repeat;
}

#content a {
	color: #FF8900;
}


.pagetitle {
	height: 33px;
	margin: 0;
	padding: 8px 0 0 15px;
	background: url(images/img13.gif) no-repeat;
	font-size: 1.4em;
	color: #FFFFFF;
}

#content #rss-posts {
	display: block;
	margin: -30px 15px 0px 0px;
	padding: 0 20px 0 0;
	background: url(images/rss.gif) no-repeat right center;
	float: right;
	font-weight: bold;
	color: #FFFFFF;
}

#contentBody {
	padding: 10px 15px 15px 15px;
}
.post {
	padding: 40px 30px 0 30px;
}
#contentBody .node .terms ul {
  background: url(images/tag.gif) center left no-repeat;
  padding-left: 20px;
}
#contentBody .node .picture {
  float: right;
}

#contentBody .node .picture img {
  padding: 3px;
  border: 1px dotted #AAE74A;
}

#contentBody .comment_comments {
  background: url(images/post-comments.gif) bottom left no-repeat;
  padding-left: 15px;
}
#contentBody .comment_add {
  background: url(images/post-comments.gif) bottom left no-repeat;
  padding-left: 15px;
}
#contentBody .node_read_more {
  background: url(images/bookmark.gif) bottom left no-repeat;
  padding-left: 15px;
}
#contentBody .node {
 	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 5px;
}
#content h2 a {
	margin: 0;
	font-size: 1.8em;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}

.byline {
	margin: 0 0 20px 0;
}

.node ul.links.inline {

	text-align: left;
	display: block;
}

.meta ul.links.inline {
border-top: none;
text-align: left;
}

.meta .more, .meta .comments {
	padding-left: 15px;
	background: url(images/img14.gif) no-repeat left center;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 230px;
	padding: 11px 5px 0 11px;
	background: url(images/img08.gif) no-repeat;
}

#sidebar .block .content {
  padding: 0px 10px 0px 10px;
}
#sidebar .block {
  margin-bottom: 15px;
}
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar ul {
	padding: 10px 15px;
}

#sidebar li {
	margin: 0;
	padding-left: 15px;
	background: url(images/img12.gif) no-repeat left center;
}

#sidebar h2 {
	height: 33px;
	margin: 0;
	padding: 8px 0 0 15px;
	background: url(images/img11.gif) no-repeat;
	font-size: 1.4em;
	color: #FFFFFF;
}

#sidebar a {
	text-decoration: none;
	color: #0065FF;
}

#sidebar a:hover {	
	text-decoration: underline;
}

/* Footer */

#footer {
	width: 962px;
	margin: 0 auto;
	padding: 30px 0;
	background: url(images/img10.gif) no-repeat;
}

#footer p {
	margin: 0;
	text-align: center;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}

#sidebar ul {
  margin: 0.5em 0 1em;
  padding: 0;
}
#sidebar ul li {
  margin: 0.4em 0 0.4em .5em;
}
#sidebar ul.menu,#sidebar .item-list ul {
  margin: 0.35em 0 0 -0.5em;
  padding: 0;
}
#sidebar ul.menu ul, #sidebar .item-list ul ul {
  margin-left: 0em;
}
#sidebar ul li, #sidebar ul.menu li, #sidebar .item-list ul li, #sidebar li.leaf {
  margin: 0 0 0.15em .5em;
}
#sidebar ul li, #sidebar ul.menu li, #sidebar .item-list ul li, #sidebar li.leaf {
  padding: 0 0 .2em 1.5em;
  list-style-type: none;
  list-style-image: none;
  background: transparent url() no-repeat 0 .35em;
}
#sidebar ul li.expanded {
  background: transparent url() no-repeat 0 .35em;
}
#sidebar ul li.collapsed {
  background: transparent url() no-repeat 0 .35em;
}
#sidebar ul li.leaf a, #sidebar ul li.expanded a, #sidebar ul li.collapsed a {
  display: block;
}
#sidebar ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0;
}

.view-content-portfolio-list ul li {
  list-style-type: none;
  display: inline;
  float: left;
  text-align: center;
  height: 250px;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
}

#content .view-content-theme-list ul li {
  list-style-type: none;
  display: inline;
  float: left;
  text-align: center;
  height: 275px;
  width: 200px;
  padding: 1px;
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  border: 1px dashed #CCCCCC;
  
}

#adTop {
text-align: center;
margin: 0px auto;
width: 468px;
}

/* Comments */
#contentBody #comments {
  margin-top: 10px;
}
#contentBody .comment {
  padding: 10px;
  border: 2px solid #AAE74A;
  margin-bottom: 10px;
}

#contentBody .comment .picture {
  float: left;
  margin-right: 10px;
}

#contentBody .indented .comment {
  border: 2px solid #0065FF;
}